.p404 {
  margin-top: 30px;
  border: none;
  box-shadow: none;
  background-color: #fff;
}

.post {
  margin-bottom: 42px;
}

.post .media-object {
  width: 128px;
  height: 128px;
}

.share {
  padding-top: 30px;
}

.share li {
  width: 87px;
  height: 25px;
  overflow: hidden;
  text-align: center;
}

footer {
  padding-top: 70px;
  padding-bottom: 70px;
}
